<nav>
    <ul>
        <li>
            <a href="" class="logo-contents">
                <div>
                    <img src="assets/imgs/warehouseIcon.png" alt="warehouse-logo">
                    <span>Warehouse system</span>
                </div>
            </a>
        </li>
        <li class="nav-content">
            <div class="resp-nav-items">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>home</mat-icon>
                        <span>Home</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>perm_identity</mat-icon>
                        <span>Login</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>Register</span>
                    </button>
                </mat-menu>
            </div>
            <div class="nav-items">
                <a href="">Home</a>
                <a href="">Login</a>
                <a href="">Register</a>
            </div>
        </li>
    </ul>
</nav>
<content>
</content>

<footer>
    <span>Warehouse system</span>
    <p class="copyright">© Warehouse System. All Rights Reserved.</p>
</footer>
<router-outlet></router-outlet>