<nav>
    <a href="" class="logo-contents">
        <div>
            <img src="assets/imgs/warehouseIcon.png" alt="warehouse-logo">
            <span>Warehouse system</span>
        </div>
    </a>
    <div class="nav-content">
        <i class="material-icons">menu</i>
        <div class="nav-items">
            <a href="">Home</a>
            <a href="">Login</a>
            <a href="">Register</a>
        </div>
    </div>
</nav>
<content>
</content>

<footer>
    <span>Warehouse system</span>
    <p class="copyright">© Warehouse System. All Rights Reserved.</p>
</footer>
<router-outlet></router-outlet>